.section {
    justify-content: center;
    text-align: center;
}

.header {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &__img {
        height: 50px;
        width: 250px;
    }

    &__main-text {
        position: absolute;
        color: #fff;
    }
}

.content {
    width: 100%;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
}

.involvement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    &__photo {
        width: 225px;

        &--small {
            width: 168px;
        }
    }

    &__title {
        text-align: center;

    }
}