.section {
    justify-content: center;
    text-align: center;
}

.star{
    display: none;
}

.header {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &__img {
        height: 50px;
        width: 250px;
    }
    &__main-text {
        position: absolute;
        color: #fff;
        font-family: 'neue-haas-unica-regular-italic', sans-serif;
        letter-spacing: 1px;
        font-size: .9em;
    }
}

.content {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box
}

.list {
    width: 100%;
    &__item {
        transition: height 2s ease;
        &__title {
            text-align: left;
            font-family: 'neue-haas-unica-bold', sans-serif;
            letter-spacing: 1px;
            font-size: 1.1em;
            padding: .65rem 0rem;
            margin: 0px;
        }
        &__title:hover{
            cursor: pointer;
        }
        &__description {
            font-family: 'neue-haas-unica-light', sans-serif;
            letter-spacing: 1px;
            font-size: .9em;
            overflow: hidden;
            margin: 0px;
            text-align: left;
        }
    }
}

.active {
    height: initial;
    visibility: visible;
    padding: .65rem 0rem;
}

.hidden {
    visibility: hidden;
    height: 0;
}

@media only screen and (min-width: 768px) {

    .list {
        width: 400px;
        margin: auto;
        margin-left: 50px;
    }

    .header {
        margin-top: 4rem;
        &__img{
            height: 100%;
            width: 26.5rem; 
        }
        &__main-text{
            font-size: 1.5rem;
            letter-spacing: 2.4px;
        }
    }

    .content{
        display: flex;
        justify-content: space-evenly;
    }

    .star{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-left: 65%;
        z-index: -1;
        &__text{
            position: absolute;
            font-family: 'obviously-normal', sans-serif;;
            font-size: .9em;
            letter-spacing: 1.5px;
        }
    }

}
@media only screen and (min-width: 992px) {

    .list {
        width: 650px;
        margin-left: 70px;
    }
}