.section {
    padding-top: 80px;
    margin-bottom: 5rem;
}

.presents {
    margin: auto;
    color: #fff;
    display: flex;
    width: 85%;
    padding: 4rem 0rem;

    &__container {
        display: flex;
        width: 100%;
        background-color: #2952e6;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'neue-haas-unica-regular-italic', sans-serif;

        &__img {
            height: 33%;
        }
    }
}

.triangle {
    &__right {
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 45px solid #2952e6;
    }

    &__left {
        width: 0;
        height: 0;

        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 45px solid #2952e6;
    }
}

.main__logo {
    width: 80%;
    margin: 0px 10%;
}

.information {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    padding-top: 1rem;

    p {
        font-family: 'neue-haas-unica-bold-italic', sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1em;
        margin: 2px;
    }
}

.apply__Btn {
    border: none;
    background-color: transparent;
    padding-top: 1rem;
    font-family: 'obviously-normal', sans-serif;
    font-size: 1em;
    line-height: 35px;
    position: relative;
    text-transform: uppercase;


    &:before {
        content: "";
        border-bottom: #FFF4B3 12px solid;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        left: 0;
        top: -14px;
        bottom: 0;
        z-index: -10;
    }
}

@media only screen and (min-width : 768px) {
    .presents {
        width: 400px;

        &__container {
            &__img {
                height: 44%;
            }
        }
    }

    .information p {
        font-size: 2em;
    }

    .apply__Btn {
        font-size: 2em;
    }
}