.recapSection{
    /* display: inline-flex; */
    /* align-items: center; */
    justify-content: center;
    text-align: center;
}

.recapData{
    display: block;
}

.recapHeader, .data {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.recapHeader > img{
    height: 84px;
    width: 428px;
}

.data > img{
    height: 8.93%;
}

.recapHeader > p, .data > p{
    position: absolute;
}

@media (max-width: 768px){

    .recapData{
        display: flex;
        flex-direction: column;
    }

    .recapHeader > img{
        height: 45px;
        width: 233px;
    }
}