.section {
    justify-content: center;
    text-align: center;
}

.header {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__img {
        height: 190px;
        width: 250px;
    }

    &__main-text {
        position: absolute;
        top: 35%;
        color: #fff;
        font-family: 'neue-haas-unica-regular-italic', sans-serif;
        letter-spacing: 1px;
        font-size: 1.2em;
    }
}

.description {
    width: 100%;
    padding: 1rem 4rem;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-family: 'neue-haas-unica-light', sans-serif;
}

@media only screen and (min-width: 900px) {
    .section {
        display: flex;
        width: 960px;
        padding-bottom: 7rem;
        margin: auto;
    }

    .header {
        &__img {
            height: 314px;
        }

        &__main-text {
            top: 40%;
        }
    }

    .description {
        width: 569px;
        font-size: 1em;
    }
}