.aboutSection{
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 207px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.aboutFlower{
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.aboutFlower > img{
    height: 22%;
}

.aboutFlower > p{
    position: absolute;
}

.aboutSection > p{
    width: 40.484%;
}

@media (max-width: 768px){

    .aboutSection > p{
    width: 63.2%;
    }
}