/* Started to transition to VH here */

.footer {
    margin-top: 120px;
    height: 29vh;
    width: 100%;
    background-color: #000;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

.footer__list {
    display: flex;
}

a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-family: 'neue-haas-unica-light', sans-serif;
    font-size: 1.5rem;
}

.footer>img {
    height: 7.834vh;
}

.socials {
    width: 14vh;
    display: inline-flex;
    justify-content: space-between;
}


/* Need to center the H */

.socials>a>img {
    height: 5.222vh;
}

@media (max-width: 900px) {
    .footer {
        height: 14vh;
        font-size: 9px;
    }

    .footer>img {
        height: 3.917vh;
    }

    .socials {
        width: 7vh;
    }

    .socials>a>img {
        height: 2.46vh;
    }

    a {
        font-size: 1rem;
    }
}