.section {
    justify-content: center;
    text-align: center;
}

.header {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &__img {
        height: 50px;
        width: 250px;
    }

    &__main-text {
        position: absolute;
        color: #fff;
        font-family: 'neue-haas-unica-regular-italic', sans-serif;
        letter-spacing: 1px;
        font-size: .9em;
    }
}

.content {
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 24px;
    font-family: 'neue-haas-unica-light', sans-serif;

}

.images {
    width: 100%;
    padding: 0rem 2rem 2rem 2rem;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.photo {
    margin: 3rem 0rem;
}